<!---- FOOTER ---->
<footer class="bg-primary">
    <div class="bg-primary py-8 px-12 mx-auto container">
        <div class="flex justify-around w-full mx-auto">
            <div class="w-1/2 lg:px-8">
                <p class="block text-light font-bold mb-4">Support & Contact</p>
                <div class="flex">
                    <a href="https://slack.com/apps/AF2AFGDPC-sparkly" class="text-light mx-2"><i class="fab fa-2x fa-slack"></i></a>
                    <a href="mailto:erwin@sparklybot.com?subject=Mail for Sparkly" class="text-light mx-2"><i class="fas fa-2x fa-envelope"></i></a>
                </div>
            </div>
            <div class="w-1/2 lg:px-8 flex">
                <div class="mt-auto">
                    <p class="inline-block text-light self-end">© 2019-2020 Sparkly. All rights reserved.</p>
                    <p class="inline-block text-light self-end">
                        <a href="https://sparklybot.com/privacy" class="inline-block text-light hover:text-tertiary mt-2" data-name="footer-privacy">
                            Privacy Policy
                        </a> -
                        <a href="https://sparklybot.com/terms" class="inline-block text-light hover:text-tertiary" data-name="footer-terms">
                            Terms of Service
                        </a> -
                        <a href="https://sparklybot.com/cookies" class="inline-block text-light hover:text-tertiary" data-name="footer-cookies">
                            Cookie Policy
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
