---
layout: default
---

<div class="relative max-w-lg mx-auto px-4 lg:max-w-4xl my-16">
    <div>
        <h2 class="text-2xl leading-9 tracking-tight font-extrabold text-gray-900 sm:text-4xl sm:leading-10">
            Articles in the <span class="underline">{{ page.name | capitalize | replace: '-', ' ' }}</span> category
        </h2>
    </div>
    <div class="mt-6 grid gap-16 border-t-2 border-gray-100 pt-10">
        {% for post in site.categories[page.name] %}
            <div>
            <p class="text-sm leading-5 text-gray-500">
                <time datetime="{{ post.date | date: '%Y-%m-%d' }}">
                    {{ post.date | date: '%B %d, %Y' }}
                </time>
            </p>
            <a href="{{ post.url }}" class="category block">
                <h3 class="mt-2 text-xl leading-7 font-semibold text-gray-900">
                    {{ post.title }}
                </h3>
                <p class="mt-3 text-base leading-6 text-gray-500">
                    {{ post.excerpt }}
                </p>
            </a>
            <div class="mt-3">
                <a href="{{ post.url }}" class="category text-base leading-6 font-semibold text-indigo-600 hover:text-indigo-500 transition ease-in-out duration-150">
                    Read full article
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
